  <br />

  <div class="alert alert-warning text-center" role="alert">
    This site is in beta an has missing features. For more information on recent changes, visit <a href="/releases" class="alert-link">releases</a>.<br />
    To provide <a href="/feedback" class="alert-link">feedback/feature requests</a>.
  </div>
  <footer class="text-center bg-light text-muted text-lg">
    <p>
      Some of our other ventures...
      <a href="https://iseecoyotes.com" target="_new">iseecoyotes</a>,
      <a href="https://itsweatheroutside.com" target="_new">It's Weather Outside</a><br /><br />
      <% const currentYear = new Date().getFullYear() %>
      &#169; <%=currentYear%> Not Scrap Yet, a <a href="https://comtily.com">Comtily</a> product.
    </p>
  </footer>

  <div class="text-center">
    <p>
      <a href="https://www.flaticon.com/free-icons/sport-car" title="sport car icons">Sport car icons created by Fazrian Zahrawani - Flaticon</a><br />
      Weather images powered by <a href="https://www.tomorrow.io/" target="_new">Tomorrow.io</a><br />
      Sunrise and Sunset times powered by <a href="https://sunrise-sunset.org/" target="_new">sunrise-sunset.org</a>
    </p>
  </div>
  
</body>





<!-- Not Scrap Yet JS-->
<script src="js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

</html>
