  <br />

  <footer class="text-center bg-light text-muted text-lg">
    <p><% const currentYear = new Date().getFullYear() %>&#169; <%=currentYear%> Not Scrap Yet</p>
  </footer>

  <div class="text-center">
    <p><a href="https://www.flaticon.com/free-icons/sport-car" title="sport car icons">Sport car icons created by Fazrian Zahrawani - Flaticon</a></p>
  </div>
</body>

<!-- Not Scrap Yet JS-->
<script src="js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

</html>

