<%- include('inc/header.ejs') %>

<div style="width: 35%; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 25px;">
  <h1 style="text-align: center;">404</h1>
  <h3 style="text-align: center;">The page you are trying to reach does not exist or was moved poorly</h3>
  <p style="text-align: center;"><a href="/">Take Me Home</a></p>
</div>

<%- include('inc/footer.ejs') %>
