<?php $page_title = 'Beta disclaimer'; ?>

<%- include('inc/header.ejs') %>

<div class="alert alert-secondary" role="alert">This is a pet project to scrape auto dealership websites.</div><!-- and Craigslists auto classifieds.</div>-->
<ul>
    <!-- <li>Our make and model data only goes back to 1992 which limits what results we show</li> -->
    <li>The algorithm will omit entries without complete data (We are still determining what is considered complete)</li>
    <li>Listings without prices or without pictures are excluded</li>
    <li>A good portion of data is pulled directly from the dealer website and coorelated with information from the NHTSA database</li>
</ul>
<p>The site cannot perform the following, but are on the list for future implementation</p>
<ul>
    <li>Cannot list by distance 5mi, 10, 25, 50, 100, 500, Nationwide</li>
    <li>Cannot search by anything (Filters...), year, color</li>
    <li>Cannot sort</li>
    <li>Finger swipe images on mobile</li>
    <li>How to bookmark searches</li>
</ul>
<!-- <p>Craigslist</p>
<ul>
    <li>Some craigslist posts may appear to be duplicates. That because they are. The poster added them twice and they have multiple posting ids</li>
</ul> -->
<p>Sites we are not currenlty scraping that you can search</p>
<ul>
    <li><a href="https://www.carvana.com" target="_new">Carvana</a></li>
    <li><a href="https://www.autotrader.com" target="_new">Autotrader</a></li>
    <li><a href="https://www.cars.com" target="_new">Cars.com</a></li>
    <li><a href="https://www.cargurus.com" target="_new">Cargurus</a></li>
    <li><a href="https://www.craigslist.org" target="_new">Craigslist</a></li>
    <li>More coming...</li>
</ul>

<?php require_once('inc/footer.php'); ?>
